@model Baja.Domain.Fabric.FabricViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fabric</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FabricBooks.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricBooks.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        
        <dd>
            <img src="~/Content/Fabrics/@Model.ImageUrl" />
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restrictions)
        </dt>

        <dd>
            @foreach (var item in Model.Restrictions)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FabricId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
