<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LEVEL 3</title>


</head>
<body>

    <style>
        #level3 {
            margin-left:1em;
        }

    </style>
    <header>
        
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li>@Html.ActionLink("Styles", "Index", "Fabrics")</li>
            <li>@Html.ActionLink("Categories", "Index", "FabricCategories")</li>
            <li>@Html.ActionLink("Books", "Index", "FabricBooks")</li>
            <li>@Html.ActionLink("Restrictions", "Index", "FabricRestrictions")</li>
            <li class="divider"></li>
        </ul>
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="http://localhost:55873/" id="level3" class="brand-logo">Level 3 <i class="fa fa-windows" aria-hidden="true"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#" data-activates="dropdown1">Fabrics<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li>@Html.Partial("_LoginPartial")</li>

                </ul>
            </div>
        </nav>


    </header>
    <main>
        <br />
     @RenderBody()
       


    </main>

    <footer>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </footer>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     Compiled and minified JavaScript 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-button").dropdown();
            $('select').material_select();
        });

        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });

    </script>
   
</body>
</html>
