@using Baja.Domain.User
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LEVEL 3</title>

    <style>
        #level3 {
            margin-left: 1em;
            font-family: GillSans;
            color: black;
        }

        #der {
            font-family: GillSans;
            color: black;
        }

        #tituloh2 {
            font-size: xx-large;
            font-family: GillSans;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper grey lighten-5">
                <a href="http://localhost:55873/" id="level3" class="brand-logo">Level 3 <i class="fa fa-windows" aria-hidden="true"></i></a>

                    <ul class="right hide-on-med-and-down">
                       <li>@Html.Partial("_LoginPartial")</li> 
                        @if (User.IsInRole(RoleNames.Administrator))
                        {
                            <li><a id="der" href="http://localhost:55873/ControlPanel/Index">Admin &nbsp;<i class="fa fa-key" aria-hidden="true"></i></a></li>
                        }
        
                    </ul>

            </div>
        </nav>

    </header>
    <main>
        <br />
        @RenderBody()



    </main>

    <footer>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </footer>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    @* Compiled and minified JavaScript*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-button").dropdown();
            $('select').material_select();
        });


    </script>

</body>
</html>