@model IEnumerable<Baja.Domain.Fabric.FabricBook>

@{
    ViewBag.Title = "Index";
}

<h2 class="tituloh2">
    Fabric Books <a href="http://localhost:55873/FabricBooks/Create"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
</h2>

<div class="row">
    <div class="col s7 offset-s2">
        <table class="highlight centered responsive-table bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FabricCategories.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FabricCategories.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new {id = item.Id })" class="list-group-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>|
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

