@*@model IEnumerable<Baja.Web.Models.ApplicationUser>*@
@model IEnumerable<Baja.Domain.User.UserRoleViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            <label>Role</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>



        <td>
            @Html.ActionLink("Edit", "Edit", new { email = item.Email }) |
            @Html.ActionLink("Details", "Details", new { email = item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { email = item.Email })
        </td>
    </tr>
}

</table>
